/* Config */

@import url("https://fonts.googleapis.com/css2?family=Righteous&display=swap")

@import url('https://fonts.googleapis.com/css?family=Raleway&display=swap')

$font-stack-helvetica: "Helvetica Neue", "Helvetica", "Arial", sans-serif

$font-stack-lucida-grande: "Lucida Grande", "Lucida Sans Unicode", "Geneva", "Verdana", sans-serif

$font-stack-verdana: "Verdana", "Geneva", sans-serif

$font-stack-garamond: "Garamond", "Baskerville", "Baskerville Old Face", "Hoefler Text", "Times New Roman", serif

$font-stack-georgia: "Georgia", "Times", "Times New Roman", serif

$font-stack-hoefler-text: "Hoefler Text", "Baskerville Old Face", "Garamond", "Times New Roman", serif

$font-stack-consolas: "Consolas", "monaco", monospace

$font-stack-courier-new: "Courier New", "Courier", "Lucida Sans Typewriter", "Lucida Typewriter", monospace

$font-stack-monaco: "Monaco", "Consolas", "Lucida Console", monospace

$font-stack-gill: "Poor Richard Regular"

$font-stack-fu: 'Fugaz One', cursive

$font-stack-raleway: Raleway
$font-stack-right: 'Righteous', cursive

*::before,
*::after
	box-sizing: inherit

//animations
$base-duration: 150ms
$base-timing: ease

//constants
//$base-font-size: 18px
$base-font-family: $font-stack-raleway
$heading-font-family: $font-stack-georgia

// Line height
$base-line-height: 1.5
$heading-line-height: 1.2

// Other Sizes
$base-border-radius: 6px
$base-spacing: 1.5em
$small-spacing: $base-spacing / 2
$base-z-index: 0
// From bootstrap
$font-size-base:              16px
$font-size-lg:                $font-size-base * 3.5

$font-weight-lighter:         lighter
$font-weight-light:           300
$font-weight-normal:          400
$font-weight-bold:            700
$font-weight-bolder:          bolder

$font-weight-base:            $font-weight-normal
$line-height-base:            1.5

// $h1-font-size:                $font-size-base * 2.5
// $h2-font-size:                $font-size-base * 2
// $h3-font-size:                $font-size-base * 1.75
// $h4-font-size:                $font-size-base * 1.5
// $h5-font-size:                $font-size-base * 1.25
// $h6-font-size:                $font-size-base

$headings-margin-bottom:      $base-spacing / 2
$headings-font-family:        $font-stack-fu
$headings-font-weight:        500
$headings-line-height:        1.2
$headings-color:              null

$display1-size:               6rem
$display2-size:               5.5rem
$display3-size:               4.5rem
$display4-size:               3.5rem

$display1-weight:             300
$display2-weight:             300
$display3-weight:             300
$display4-weight:             300
$display-line-height:         $headings-line-height

$lead-font-size:              $font-size-base * 1.25
$lead-font-weight:            300

$small-font-size:             80%

$text-muted:                  $md-grey-600