/** @format */

$scheme: (
	darkprimary: #303f9f,
	accent: #cddc39,
	light-primary: #c5cae9,
	primary: #3f51b5,
	secondarytext: #757575,
	primarytext: #212121
);

$browncolors: (
	bg50: #efebe9,
	bg100: #d7ccc8,
	bg200: #bcaaa4,
	bg300: #a1887f,
	bg400: #8d6e63,
	bg500: #795548,
	bg600: #6d4c41,
	bg700: #5d4037,
	bg800: #4e342e,
	bg900: #3e2723
);

$colors: (
	bkgd: #080b4a,
	text: #d8cdd3,
	text1: #f9c59b,
	text2: #dbe4ff,
	text3: #ffe8cc,
	text4: #d3f9d8,
	text5: #a5d8ff,
	text6: #efebe9,
	text7: #e1bee7
);

$purple: (
	Dark-p-c: #512da8,
	light-p-c: #d1c4e9,
	prime-color: #673ab7,
	icons: #ffffff,
	accnt: #795548,
	prime-text: #212121,
	second-text: #757575,
	divider: #bdbdbd
);

$tea: (
	dark: #202b36,
	purple: #353369,
	header: #211e9c,
	darktan: #423d38,
	text: #694633
);

$vintage: (
	dark: #8c353d,
	text: #594f43,
	lt-bg: #bfa68f,
	accent: #bf877a,
	sec-text: #593e3e
);
$greenie: (
	prime: #028801,
	secondary: #3b001d,
	accent: #01d27f,
	text: #aeff00,
	color: invert(#3b001d)
);

//input sizes
$map1: (
	small: 10%,
	med: 30%,
	med-lg: 50%,
	large: 75%,
	full: 100%
);

$purpleColor: (
	darkprimary: #311b92,
	accent: #bbdefb,
	light-primary: #b388ff,
	primary: #673ab7,
	secondarytext: #f3e5f5,
	primarytext: #212121
);

//material design dark colors
$dark: (
	md-red: #b71c1c,
	md-pink: #880e4f,
	md-purple: #4a148c,
	md-indigo: #1a237e,
	md-blue: #0d47a1,
	md-cyan: #006064,
	md-green: #1b5e20,
	md-orange: #e65100
);

$theme: (
	main: #39182e,
	color: #fed9f4,
	accent: #30997a,
	secondary: #f99f00,
	extra: #d75501
);

// $greenie: (prime: #028801, secondary: #75D501, accent: #01D27F, text: #AEFF00, color: #01FF83)

$brownish: (
	dark: #430d27,
	med-dark: #582233,
	lt-dark: #713045,
	hi-light: #c94e4e
);

$weight: (
	bold2: 200,
	bold6: 600,
	bold7: 700,
	bold8: 800,
	bold9: 900
);

$Jap: (
	prime: #8c353d,
	text1: #594f43,
	accent: #bfa68f,
	accent2: #bf877a,
	text2: #593e3e
);
