/*Cards */
@use '../abstracts' as *

/**
 *
 * classes for clay.css
 *
 */


.card
  --clay-background: #C6AAAF

.corn
  --clay-background: hsl(180.0,79.19%,66.08%)

.show-protein,
.show-acc,
.show-veg,
.show-profile
  text-decoration: underline
