/** @format */
@use '../abstracts' as *;
.head1 {
	font-size: 1.5rem;
}
#proteinCount,
#calorieCount,
#carbCount,
#fiberCount {
	padding-left: 0.5rem;
}
.vitamins,
.potass {
	margin-left: 1rem;
}

.light {
	font-family: light;
}

.sugars10 {
	padding: 0.25rem;
}
// for vinegar completed items

.bb {
	border-bottom: 1px solid #000;
	font-size: 1.15rem;
}

.redd {
	@extend .bb;
	color: $zero;
	text-shadow: 6px 6px 16px #000;
}

// background clip

// .demo2 h1 {
// 	color: green;
// 	font-size: clamp(2rem, 10vh,5rem);
// 	line-height: 1;
// 	font-weight: 900;
// 	text-transform: uppercase;
// 	background-image: url();
// 	background-size: cover;
// 	background-clip: text;
// 	color: transparent;
// }
