@use '../abstracts' as *
/*Common*/

.underline
  border-bottom: 1px solid #000

.error
  color: $antique-ruby

.center-align
  text-align: center

.left-align
  text-align: left

.right-align
  text-align: right

.text-small
  font-size: 0.85rem

.height1
  +height1(6rem)

.hidden
  display: none

.ital
  font-style: italic
  font-variant: small-caps

.current
  background: $darksalmon
  color: $gen26!important


.white
  color: $texty-bg