@use '../abstracts' as *
/*Common*/

.underline
  border-bottom: 1px solid $indigo1

.error
  color: $antique-ruby

.center-align
  text-align: center

.left-align
  text-align: left

.right-align
  float: right

.text-small
  font-size: 0.85rem

.height1
  @include height1(6rem)

.hidden
  display: none

.ital
  font-style: italic
  font-variant: small-caps

.current
  color: $gen26!important
  border: 2px solid
  background-color: map-get($highlights, "aqua")
  border-radius: 3px
  @include border-color(#f76707,#4dabf7,#e8590c,#1971c2)
  &:hover
    box-shadow: 0 0 10px black


.white
  color: $texty-bg

.ul
  border-bottom: 2px solid $hawthorn-rose

.title
  font-size: 2.25rem
  color: $very-peri
  text-shadow: 1px 2px 1px $gen26
  border: 3px solid $gen21
  padding: 0 1rem
  font-family: super
  font-variation-settings: "wght" 600, "wdth" 1000
  border-radius: 8px
  @include letterspace(3)

.copy
  font-weight: 720
.origin
  font-weight: 700
#datey
  font-weight: 720
.date
  width: calc(100% / 1.75)

.purch-form
  padding: 1rem

.purchase
  width: 90%

.cost
  width: map-get($map1, "med")

.locate
  font-weight: 700

.first::first-letter
  color: $color-chartreuse-4

#dialog::backdrop
  background: $pretty-blue

.closer
  cursor: pointer

