/* Elements */
@use '../abstracts' as *
p
	margin-top: .75rem

blockquote
	margin-left: 2rem
	border-left: 1px solid $chocolate
	padding-left: 1rem

table
	border-collapse: collapse
	width: 100%

td, th
	text-align: center
	border-bottom: 1px solid #000
	border-spacing: 5px
	padding: 5px

tr:nth-child(even)
	background-color: $granite-green
	color: $lotus
	text-shadow: 2px 2px 2px var(--prime-text)

li:nth-child(even)
	background-color: $muted-clay



