/* Elements */
@use '../abstracts' as *
p
	margin-top: .75rem

blockquote
	margin-left: 2rem
	border-left: 1px solid $chocolate
	padding-left: 1rem

table
	border-collapse: collapse
	width: 100%

td, th
	text-align: center
	border-spacing: 5px
	padding: 5px

tr:nth-child(even)
	background-color: darken($lotus, 15)
	color: white
	text-shadow: 2px 2px 2px var(--prime-text)

th
	border-top: 1px solid $hawthorn-rose
	border-bottom: 1px solid $hawthorn-rose



