/** @format */

.scale-2 {
	transform: scale(2);
}
.scale-25 {
	transform: scale(2.5);
}
.scale-175 {
	transform: scale(1.75);
}
.scale-15 {
	transform: scale(1.5);
}
.scale-125 {
	transform: scale(1.25);
}
