/* Containers */

@charset "UTF-8"
/* This is the page layouts  */
.container
  display: flex
  width: 98%
  margin: 0 auto
  border: 1px solid $red
  min-height: 100%

  &--left
    width: 225px
    border-right: 1px solid $tuscany2
    +tablet
      width: 100%
    +mobile
      width: 100%
  &--main
    flex: 1 1 75%
    border-right: 1px solid $tuscany2
    display: flex
    flex-wrap: wrap

    +tablet
      width: 100%
    +mobile
      width: 100%
  &--right
    flex: 1 1 250px
    border-right: 1px solid $tuscany2
    +tablet
      width: 100%
    +mobile
      width: 100%
  &--inner //skeleton
    margin: .25rem
    border-radius: $base-border-radius
    border-right-color: $brown
    border-right-width: 2px
    border-right-style: solid
    border-bottom: $brown 2px solid
  &--tags


.flex
  display: flex
