// all color schemes
body
	background: map-get($greenie, "prime")

.container
	background: map-get($greenie, "prime")

.container--left
	background: map-get($Jap, "prime")

.container--main
	background: map-get($greenie, "secondary")

.container--right
	background: map-get($greenie, "secondary")

//Cards
.card--inside-header > h2, h3, h4,h5
	color: map-get($greenie, "accent")
	text-shadow: 1px 1px $black, -1px -1px $black
	margin: 0

// .card--inside-header > h4
// 	color: map-get($greenie, "text")
// 	text-shadow: 1px 1px $black, -1px -1px $black
// 	margin: 0

//p font color in cards
.card p
	color: map-get($Jap, "accent")

.headline //headline style header
	color: #069456

#space > li
	color: map-get($Jap, "accent")

#gridly
	background: map-get($vintage, "accent")
[class^= "div"]
	background-color: map-get($vintage, "dark")
	color: map-get($vintage, "lt-bg")
	padding: 5px

[class^= "primer"]
	border: 1px solid black
	padding: 5px