@charset "UTF-8"

.underline
	border-bottom: 1px solid #000

.wrapper
	display: flex
	width: 100%

.error
	color: $md-yellow-800

.center-align
	text-align: center

.left-align
	text-align: left

.right-align
	text-align: right

.text-small
	font-size: 0.85rem

.height1
	+height1(6rem)

#display
	color: $md-yellow-700

.line
	height: 1px
	background: $gold
	transform: rotate(1deg)

.line2
	height: 1px
	background: $gold
	transform: rotate(-1deg)

.green
	background-color: #00ff00

::marker
	color: yellow
	content: "\01F665\00A0"