/*forms*/
button[type='submit'],
button[type='reset']
  border-radius: 4px
  background-color: $purp1
  color: $white
  margin: 5px
  padding: 5px
  &:hover
    background: $purp2

fieldset
  border: 1px solid $md-deep-purple-200

legend
  padding: 1em
  color: $tuscany3

select
  width: 50%

input::placeholder
  color: red
  opacity: 0.75
  letter-spacing: 2px
  text-transform: capitalize
  text-indent: 2em
  font-variant: small-caps
  font-weight: 700

input::-moz-placeholder
  color: red
  opacity: 0.75
  letter-spacing: 2px
  text-transform: capitalize
  text-indent: 2em
  font-variant: small-caps
  font-weight: 700

input:focus
  //background: yellow
  font-style: italic
  &::placeholder
    line-height: 13

  // textarea
//   width: 100%

#nameError,
#contentError,
#tagsError,
#primeError
  display: none
  font-size: 0.8em
  color: white

#nameError.visible
  display: block
#contentError.visible
  display: block
#tagsError.visible
  display: block
#primeError.visible
  display: block

input.invalid
  border-color: rgb(255, 0, 0)
  border-style: dotted
  border-width: 3px
textarea.invalid
  border-color: rgb(255, 0, 0)
  border-style: dotted
  border-width: 3px
select.invalid
  border-color: rgb(255, 0, 0)
  border-style: dotted
  border-width: 3px
