@media print
  body
    color: black
    font: 9pt $font-stack-georgia
    background: #fff
    line-height: 1.1
  #left
    width: 99%
    margin: 0 auto
    padding: 0
    float: none
  @page
    margin: 0
  table
    margin: 0
    td
      padding: 0
      border: none

