/* typography */

h1,
h2
	letter-spacing: 2px

strong
	letter-spacing: 2px
	font-weight: 600

code
	font-family: $font-stack-courier-new
	font-weight: 300
	font-size: get-vw(14px)

// h2
// 	counter-reset: section

.headline
	text-align: left
	margin-bottom: .5rem
	font-family: $font-stack-right

h1
	font-size: get-vw($font-size-base * 2.5)
	counter-reset: subsection

h2
	font-size: get-vw($font-size-base * 2)
	font-family: 'Lora', serif

h3
	font-size: get-vw($font-size-base * 1.75)
	font-family: 'Lora', serif

h4
	font-size: get-vw($font-size-base * 1.5)
	font-family: 'Lora', serif

h5
	font-size: get-vw($font-size-base * 1.25)
	font-family: $font-stack-monaco

h6
	font-size: get-vw($font-size-base)

p
	font-size: 1vw

#dater
	color: $orange
	font-size: 1.3rem


