/**
 * Costs scss
 *
 * @format
 */
@use '../abstracts' as *;
#cost-container {
	max-width: 85%;
	margin-inline: auto;
	height: auto;
	display: grid;
	grid-gap: 1rem;
	grid-template-columns: repeat(6, 1fr);
	grid-template-rows: 0.5fr repeat(6, 1fr);
}
.cost-form {
	grid-column: 1/2;
}
#cost-main {
	grid-column: 2/6;
	grid-row: 2/6;
	display: grid;
	grid-template-columns: repeat(4, 1fr);
	grid-gap: 1rem;
}
.cost-notes {
	grid-column: 6/7;
}

.former {
	grid-column: 1/3;
}
.now {
	grid-column: 3/5;
}
