/**
 * /* Plan page grid
 *
 * @format
 */

@use '../abstracts' as *;

#plan-container {
  display: grid;
  width: calc(100% - 10%);
  margin-inline: auto;
  height: 100vh;
  grid-gap: 1rem;
  grid-template-columns: repeat(6, 1fr);
  grid-template-rows: 0.5fr repeat(6, 1fr);
}

aside#left {
  grid-column: 1/2;
  padding: 1rem;
}
section#plan {
  grid-column: 2/7;
}
#goals-container {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-column-gap: 1rem;
  grid-template-rows: 1fr;
}

footer#main-footer {
  grid-column: 1/7;
}
.box-header {
  grid-column: 1/6;
  padding-left: 1rem;
  @include center(center, center);
}
.box-name {
  grid-column: 1/2;
  padding-left: 1rem;
}
.box-calories {
  grid-column: 2/3;
  padding-left: 1rem;
}
.box-carbs {
  grid-column: 3/4;
  padding-left: 1rem;
}
.box-protein {
  grid-column: 4/5;
  padding-left: 1rem;
}
.box-fiber {
  grid-column: 5/6;
  padding-left: 1rem;
}
