/** @format */
@use '../abstracts' as *;

#timeline {
	width: calc(100% - 4rem);
	margin: 0 auto;
}

#time-main {
	display: grid;
	gap: 1rem;
	grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
}
.red {
	min-height: 100px;
	background-color: $lch4;
	padding: 1rem;
}
