@use '../abstracts' as *
/* main theme colors */

$primary: #140FA9

@function comp($rex)
	@return compliment($rex)

//$head: compliment(#140FA9)

:root
	--prime-color: #{$primary}
	--head-color: #F7D31E


#prime
	background-color: var(--granite-green)

#header
	background-color: $dried-moss

.col-1
	background: var(--burnished-lilac)

.col-2
	background: $lotus

.col-3
	background: $lotus

.col-4
	background-color: $gen4

.col-5
	background-color: $muted-clay